* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

head {
    height: 0px;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    background-image: url("img/back2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    height: 340px;
    width: 100%;
    background-color: rgba(190, 197, 249, 0.8);
    display: flex;
    justify-content: center;
}

.name-wrap {
    margin-top: 0px;
    padding: 20px;
    display: flex;
    width: 95%;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;
}

@keyframes fadeinup {
    from { transform: translate3d(0,20px,0); opacity: 0; }
    to   { transform: translate3d(0,0,0); opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadeinup {
    from { transform: translate3d(0,20px,0); opacity: 0; }
    to   { transform: translate3d(0,0,0); opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeinup {
    from { transform: translate3d(0,20px,0); opacity: 0; }
    to   { transform: translate3d(0,0,0); opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadeinup {
    from { transform: translate3d(0,20px,0); opacity: 0; }
    to   { transform: translate3d(0,0,0); opacity: 1; }
}

/* Opera */
@-o-keyframes fadeinup {
    from { transform: translate3d(0,20px,0); opacity: 0; }
    to   { transform: translate3d(0,0,0); opacity: 1; }
}

.name-wrap2 {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
}

.name {
    padding-left: 10px;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    opacity: 0;
    -webkit-animation: fadeinup 0.75s ease-in;
    -moz-animation: fadeinup 0.75s ease-in;
    -ms-animation: fadeinup 0.75s ease-in;
    -o-animation: fadeinup 0.75s ease-in;
    animation: fadeinup 0.75s ease-in;
    animation-fill-mode: forwards;
    animation-delay: 2s;
}

.name .name-name {
    font-family: "Montserrat";
    font-size: 90pt;
    color: #012B80;
    margin-bottom: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.name-wrap2 .name-start {
    font-family: "Montserrat";
    color: #012B80;
    font-size: 40pt;
    padding: 20px;
    margin-top: 40px;
    -webkit-animation: fadeinup 0.75s ease-in;
    -moz-animation: fadeinup 0.75s ease-in;
    -ms-animation: fadeinup 0.75s ease-in;
    -o-animation: fadeinup 0.75s ease-in;
    animation: fadeinup 0.75s ease-in;
    animation-fill-mode: fowrards;
}

#start2 {
    margin-left: -15px;
    -webkit-animation: fadeinup 0.75s ease-in;
    -moz-animation: fadeinup 0.75s ease-in;
    -ms-animation: fadeinup 0.75s ease-in;
    -o-animation: fadeinup 0.75s ease-in;
    animation: fadeinup 0.75s ease-in;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

.name .under-name {
    border-left: solid #4A97BD 4px;
    margin: 8px 10px;
    padding-left: 15px;
    font-size: 18pt;
    font-family: "Titillium Web";
    color: #4A97BD;
}

.contact {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    -webkit-animation: fadeinup 0.75s ease-in;
    -moz-animation: fadeinup 0.75s ease-in;
    -ms-animation: fadeinup 0.75s ease-in;
    -o-animation: fadeinup 0.75s ease-in;
    animation: fadeinup 0.75s ease-in;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-delay: 2s;
}

.contact div {
    color: #4A97BD;
    font-family: "Titillium Web";
    font-size: 15pt;
    padding: 20px;
}

.contact a {
    padding: 0px 15px;
    margin: 10px 0px;
}

.contact img {
    width: 60px;
}

.body-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    -webkit-animation: fadeinup 0.75s ease-in;
    -moz-animation: fadeinup 0.75s ease-in;
    -ms-animation: fadeinup 0.75s ease-in;
    -o-animation: fadeinup 0.75s ease-in;
    animation: fadeinup 0.75s ease-in;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-delay: 3s;
}

.intro {
    width: 50%;
    margin: 30px;
    margin-top: 50px;
    padding: 25px 35px;
    font-family: "Open Sans";
    font-size: 15pt;
    background-color: rgba(211, 240, 254, 0.9);
    color: #012B80;
    text-align: left;
}

.intro-header {
    font-weight: bold;
    font-family: "Montserrat";
    font-size: 25pt;
    text-align: left;
    margin-bottom: 10px;
}

.portfolio-wrap {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 65%;
    background-color: rgba(216, 226, 250, 0.85);
    padding: 25px 35px;
}

.portfolio-title {
    font-family: "Montserrat";
    font-size: 25pt;
    color: #012B80;
    font-weight: bold;
    margin-bottom: 10px;
}

.portfolio-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.content-row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.content-item {
    margin: 15px;
    padding: 15px 30px;
    height: 370px;
    width: 45%;
    background-color: #D9813D;
    box-shadow: 5px 5px 5px grey;
    font-family: "Open Sans";
    font-size: 15pt;
    color: #454545;
}

.content-header {
    margin: 10px 0px;
    padding-bottom: 10px;
    border-bottom: 3px solid #454545;
    font-weight: bold;
    height: 40px
}

#content-1 {
    background-color: #E7C7C7;
}

#content-2 {
    background-color: #B5D2B9;
}

#content-3 {
    background-color: #B2C9E0;
}

#content-4 {
    background-color: #D7C1E5
}

.skills-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    background-color: rgba(217, 205, 246, 0.85);
    padding: 25px 35px;
    margin: 30px;
}

.skills-header {
    font-family: "Montserrat";
    font-size: 25pt;
    color: #012B80;
    font-weight: bold;
    margin-bottom: 10px;
}

.skills-head {
    font-weight: bold;
    background-color: #B6D0F3;
    padding: 3px 10px;
    box-shadow: 2px 2px 2px gray;
    margin-right: 10px;
}

.skills-box {
    color: #012B80;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 15pt;
    font-family: "Titillium Web";
    margin: 10px 5px;
}

.skills-item {
    font-weight: bold;
    margin: 0px 10px;
    padding: 3px 10px;
    background-color: #D0DEC3;
    background-color: #8FD042;
    box-shadow: 2px 2px 2px gray;
}

.content-header img {
    width: 40px;
}

.content-header a {
    margin-top: -7px;
    float: right;
}

footer {
    margin-top: 50px;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer div {
    color: black;
    font-family: "Open Sans";
}
